@font-face {
  font-family: 'LemonMilk';
  src: url(../font/lemon_milk/LEMONMILK-Regular.otf) format("opentype");
}

@font-face {
  font-family: 'LemonMilk';
  font-weight: bold;
  src: url(../font/lemon_milk/LEMONMILK-Bold.otf) format("opentype");
}

/* Default Styling ----------- */
html {
  scroll-behavior: smooth;
}

body {
  background-image: url('../img/Background.png');
  text-align: center;
  font-family: 'LemonMilk', Verdana, Geneva, Tahoma, sans-serif;
  margin: 0%;
  z-index: -99;
}

h1 {
  color: rgb(255, 204, 0);
  margin: 0%;
}

h2 {
  color: rgb(200, 200, 200);
  margin: 0%
}

h3 {
  color: #eebf07;
}

h5 {
  color: rgba(135, 115, 0);
  margin: 0;
}

p {
  color: rgb(200, 200, 200);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
  color: rgb(200, 200, 200);
}

#about .row {
  display: flex;
  justify-content: center;
  /* Centers the columns horizontally */
  align-items: center;
  /* Centers the columns vertically (if they have different heights) */
  flex-wrap: wrap;
}

.header {
  overflow: hidden;
  background-color: #17131E;
  z-index: 99;
}

.header a {
  color: #473C5E;
  text-align: center;
  text-decoration: none;
}

/* Change the background color on mouse-over */
.header a:hover {
  color: rgb(210, 168, 1);
  background-color: #3d354d;
}

/* Style the active/current link*/
.header a.active {
  color: rgb(255, 204, 0);
  background-color: #292333;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

footer {
  background-color: #292333;
}

footer p {
  color: white;
  text-align: center;
  padding: 0.5%;
}

svg:hover {
  fill: #ffbf00;
}

.icon{
  width: 5%;
  margin: 5px;
}
.icon:hover {
  opacity: 0.2;
}


#home {
  background-image: url("../img/HomeBackground.png");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#home h1 {
  color: white;
}

#decorator1 {
  background-image: url("../img/DecoratorBackground_1.png");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#decorator2 {
  background-image: url("../img/DecoratorBackground_2.png");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.modal-body p,
ul {
  text-align: justify;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.modal-body h6 {
  color: #FFC000;
  text-align: justify;
}

.Comment {
  color: rgb(163, 167, 184);
  margin: 0;
}

/* Smartphones ----------- */
@media only screen and (max-width : 768px) {
  .header {
    display: none;
  }

  body {
    background-size: 100vmax;
  }

  h1 {
    font-size: 12vw;
  }

  h2 {
    font-size: 4.5vw;
  }

  #about .row {
    /* Allows columns to wrap on smaller screens */
    padding: 0% 1% 0% 1%;
  }

  /* Style the header with a grey background and some padding */
  .header {
    padding: 2% 0 2% 0;
  }

  /* Style the header links */
  .header a {
    font-size: 200%;
    line-height: 25px;
    padding: 100% 2.5% 100% 2.5%;
  }

  /*SVG*/
  svg {
    width: 50px;
    fill: #ffffff;
    margin: 10vh 0% -25vh 0%;
  }

  /*Social Media Links*/
  .icon{
    width: 12%;
    margin: 5px;
  }

  #home {
    width: 100vw;
    height: 100vh;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  #backgroundVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  .content {
    z-index: 2;
    color: rgb(139, 174, 172);
    border-style: solid;
    border-color: rgba(255, 204, 0, 0.75);
    border-width: medium;
    padding: 0% 1%;
  }

  #about {
    background-color: rgba(50, 50, 50, 0.5);
    background-position: center;
    margin: 10% 2% 0% 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: justify;
    height: fit-content;
  }

  #about .image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }

  .aboutBorder {
    color: rgb(139, 174, 172);
    border-style: solid;
    border-color: rgba(255, 204, 0, 0.75);
    padding: 1% 1% 1% 5%;
  }

  #about h1 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 2.5%;
    font-size: 12vw;
  }

  #about p,
  #about ul {
    font-size: 16px;
  }

  #project {
    padding: 5% 1% 1% 1%;
  }

  #project h1 {
    margin-top: 2.5vh;
    font-size: 12vw;
  }

  #project .carousel-item button {
    padding: 0;
    margin: 0% 4% 0% 4%;
    background-color: #ffffff00;
    border: none;
  }

  #project img {
    border-radius: 2.5%;
    width: 100%;
    object-fit: contain;
    margin-top: 5%;
  }

  /*Project Carousel*/
  .carousel-inner {
    padding: 1em;
  }

  .card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    background-color: #292333;
  }

  .card p {
    color: white;
    text-align: left;
  }

  .carousel-control-prev,
  .carousel-control-next {
    background-color: #22202b;
    opacity: 7.5;
    width: 6vh;
    height: 6vh;
    border: solid;
    border-radius: 10%;
    border-width: medium;
    border-color: #dec6123f;
    border-style: solid;
    top: 50%;
    transform: translateY(-50%);
  }

  @media (min-width: 768px) {
    .carousel-item {
      margin-right: 0;
      flex: 0 0 50%;
      display: block;
    }

    .carousel-inner {
      display: flex;
    }
  }

  .card .img-wrapper {
    max-width: 100%;
    height: 13em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card img {
    max-height: 100%;
  }

  @media (max-width: 767px) {
    .card .img-wrapper {
      height: 17em;
    }
  }

  .decorator {
    width: 100%;
    height: 25vh;
    min-height: 100%;
    margin: 2.5% 0%;
  }

  #contact {
    background-color: rgba(50, 50, 50, 0.5);
    background-position: center;
    margin: 2.5% 10%;
  }
  #contact h1 {
    text-align: center;
    font-size: 12vw;
  }

  .modal-content {
    background-color: #292333;
    color: whitesmoke;
  }

  .modal_img {
    margin: 5px;
    width: 100%;
  }

  .modal_img_additional {
    margin-bottom: 25px;
    width: 90%;
  }
}

/* Tablet ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  body {
    background-size: 100vmax;
  }

  h1 {
    font-size: 12vw;
  }

  h2 {
    font-size: 4.5vw;
  }

  #about .row {
    /* Allows columns to wrap on smaller screens */
    padding: 0% 1% 0% 1%;
  }

  /* Style the header with a grey background and some padding */
  .header {
    padding: 2% 0 2% 0;
  }

  /* Style the header links */
  .header a {
    font-size: 200%;
    line-height: 25px;
    padding: 100% 2.5% 100% 2.5%;
  }

  /*SVG*/
  svg {
    width: 75px;
    fill: #ffffff;
    margin: 0vh 0% -40vh 0%;
  }

  /*Social Media Links*/
  .icon{
    width: 10%;
    margin: 5px;
  }

  #home {
    width: 100vw;
    height: 100vh;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  #backgroundVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  .content {
    z-index: 2;
    color: rgb(139, 174, 172);
    border-style: solid;
    border-color: rgba(255, 204, 0, 0.75);
    border-width: medium;
    padding: 0% 1%;
  }

  #about {
    background-color: rgba(50, 50, 50, 0.5);
    background-position: center;
    margin: 10% 2% 0% 2%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: justify;
  }

  #about .image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }


  .aboutBorder {
    color: rgb(139, 174, 172);
    border-style: solid;
    border-color: rgba(255, 204, 0, 0.75);
    padding: 1% 1% 1% 5%;
  }

  #about h1 {
    text-align: center;
    margin-top: 85px;
    margin-bottom: 2.5%;
    font-size: 7.5vw;
  }

  #about p,
  #about ul {
    font-size: 16px;
  }

  #project {
    padding: 5% 1% 1% 1%;
  }

  #project h1 {
    margin-top: 2.5vh;
    font-size: 7.5vw;
  }

  #project .carousel-item button {
    padding: 0;
    margin: 0% 4% 0% 4%;
    background-color: #ffffff00;
    border: none;
  }

  #project img {
    border-radius: 2.5%;
    width: 100%;
    object-fit: contain;
    margin-top: 5%;
  }

  /*Project Carousel*/
  .carousel-inner {
    padding: 1em;
  }

  .card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    background-color: #292333;
  }

  .card p {
    color: white;
    text-align: left;
  }

  .carousel-control-prev,
  .carousel-control-next {
    background-color: #22202b;
    opacity: 7.5;
    width: 6vh;
    height: 6vh;
    border: solid;
    border-radius: 10%;
    border-width: medium;
    border-color: #dec6123f;
    border-style: solid;
    top: 50%;
    transform: translateY(-50%);
  }

  @media (min-width: 768px) {
    .carousel-item {
      margin-right: 0;
      flex: 0 0 50%;
      display: block;
    }

    .carousel-inner {
      display: flex;
    }
  }

  .card .img-wrapper {
    max-width: 100%;
    height: 13em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card img {
    max-height: 100%;
  }

  @media (max-width: 767px) {
    .card .img-wrapper {
      height: 17em;
    }
  }

  .decorator {
    width: 100%;
    height: 25vh;
    min-height: 100%;
    margin: 2.5% 0%;
  }

  #contact {
    background-color: rgba(50, 50, 50, 0.5);
    background-position: center;
    margin: 2.5% 10%;
  }
  #contact h1 {
    text-align: center;
    font-size: 7.5vw;
  }

  .modal-content {
    background-color: #292333;
    color: whitesmoke;
  }

  .modal_img {
    margin: 5px;
    width: 100%;
  }

  .modal_img_additional {
    margin-bottom: 25px;
    width: 90%;
  }
}


/* Desktops and laptops ----------- */
@media only screen and (min-width : 1024px) {
  body {
    background-size: 100vmax;
  }

  h1 {
    font-size: 11vw;
  }

  h2 {
    font-size: 4vw;
  }

  #about .row {
    /* Allows columns to wrap on smaller screens */
    padding: 0% 1% 0% 1%;
  }

  /* Style the header with a grey background and some padding */
  .header {
    padding: 1% 0 1% 0;
  }

  /* Style the header links */
  .header a {
    font-size: 200%;
    line-height: 25px;
    padding: 100% 4.5% 100% 4.5%;
  }

  /*SVG*/
  svg {
    width: 3vw;
    fill: #ffffff;
    margin: 2vh 0% -35vh 0%;
  }

  /*Social Media Links*/
  .icon{
    width: 4.5%;
    margin: 5px;
  }

  #home {
    width: 100vw;
    height: 100vh;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  #backgroundVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  .content {
    z-index: 2;
    color: rgb(139, 174, 172);
    border-style: solid;
    border-color: rgba(255, 204, 0, 0.75);
    border-width: medium;
    padding: 0% 1%;
  }

  #about {
    background-color: rgba(50, 50, 50, 0.5);
    background-position: center;
    margin: 5% 5% 0% 5%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: justify;
  }
  #about .image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }


  .aboutBorder {
    color: rgb(139, 174, 172);
    border-style: solid;
    border-color: rgba(255, 204, 0, 0.75);
    padding: 1% 1% 1% 5%;
  }

  #about h1 {
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 2.5%;
    font-size: 5vw;
  }

  #about p,
  #about ul {
    font-size: 2vh;
  }

  #project {
    padding: 5% 1% 1% 1%;
  }

  #project h1 {
    margin-top: 2.5vh;
    font-size: 5vw;
  }

  #project .carousel-item button {
    padding: 0;
    margin: 0% 4% 0% 4%;
    background-color: #ffffff00;
    border: none;
  }

  #project img {
    border-radius: 2.5%;
    width: 100%;
    object-fit: contain;
    margin-top: 25px;
  }

  /*Project Carousel*/
  .carousel-inner {
    padding: 1em;
  }

  .card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    background-color: #292333;
  }

  .card p {
    color: white;
    text-align: left;
  }

  .carousel-control-prev,
  .carousel-control-next {
    background-color: #22202b;
    opacity: 7.5;
    width: 6vh;
    height: 6vh;
    border: solid;
    border-radius: 10%;
    border-width: medium;
    border-color: #dec6123f;
    border-style: solid;
    top: 50%;
    transform: translateY(-50%);
  }

  @media (min-width: 768px) {
    .carousel-item {
      margin-right: 0;
      flex: 0 0 33.333333%;
      display: block;
    }

    .carousel-inner {
      display: flex;
    }
  }

  .card .img-wrapper {
    max-width: 100%;
    height: 13em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card img {
    max-height: 100%;
  }

  @media (max-width: 767px) {
    .card .img-wrapper {
      height: 17em;
    }
  }

  .decorator {
    width: 100%;
    height: 50vh;
    min-height: 100%;
    margin: 2.5% 0%;
  }

  #contact {
    background-color: rgba(50, 50, 50, 0.5);
    background-position: center;
    margin: 2.5% 10%;
  }
  #contact h1 {
    text-align: center;
    font-size: 5vw;
  }


  .modal-content {
    background-color: #292333;
    color: whitesmoke;
  }

  .modal_img {
    margin: 5px;
    width: 100%;
  }

  .modal_img_additional {
    margin-bottom: 25px;
    width: 50%;
  }
}