/*ID's use #, Classes use .*/
/*ID is single use (unique), Classes can be used multiple times*/
/*Order: Top Right Bottom Left*/

@font-face {
  font-family: 'LemonMilk';
  src: url(../font/lemon_milk/LEMONMILK-Regular.otf) format("opentype");
}

@font-face {
  font-family: 'LemonMilk';
  font-weight: bold;
  src: url(../font/lemon_milk/LEMONMILK-Bold.otf) format("opentype");
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url('../img/Background.png');
  background-size: 100vmax;
  text-align: center;
  font-family: 'LemonMilk', Verdana, Geneva, Tahoma, sans-serif;
  margin: 0%;
  z-index: -99;
}

h1 {
  color: rgb(255, 204, 0);
  font-size: 5vmax;
  margin: 0%;
}

h2 {
  color: rgb(200, 200, 200);
  font-size: 1.8vmax;
  margin: 0%
}

p {
  color: rgb(200, 200, 200);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
  color: rgb(200, 200, 200);
}

.row {
  display: flex;
  justify-content: center;
  /* Centers the columns horizontally */
  align-items: center;
  /* Centers the columns vertically (if they have different heights) */
  flex-wrap: wrap;
  /* Allows columns to wrap on smaller screens */
  margin-bottom: 10vh;
  padding: 0% 1% 0% 1%;
}

/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #17131E;
  z-index: 99;
  padding: 1% 0 1% 0;
}

/* Style the header links */
.header a {
  color: #473C5E;
  text-align: center;
  text-decoration: none;
  font-size: 200%;
  line-height: 25px;
  padding: 100% 5% 100% 5%;
}


/* Change the background color on mouse-over */
.header a:hover {
  color: rgb(210, 168, 1);
  background-color: #3d354d;
}

/* Style the active/current link*/
.header a.active {
  color: rgb(255, 204, 0);
  background-color: #292333;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

footer {
  background-color: #292333;
}

footer p {
  color: white;
  text-align: center;
  padding: 0.5%;
}

/*SVG*/
svg {
  width: 3vw;
  fill: #ffffff;
  margin: 35% 0% -35% 0%;
}

svg:hover {
  fill: #8f8f8f;
}

/*Social Media Links*/
.fa {
  padding: 1%;
  font-size: 100%;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

#home {
  background-image: url("https://static.wixstatic.com/media/11062b_952485dce28e4eac9e9f09d63fdc9ada~mv2.jpg/v1/fill/w_980,h_527,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/11062b_952485dce28e4eac9e9f09d63fdc9ada~mv2.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /* Ensures the image scales responsively */
  width: 100vw;
  /* Full width of the container */
  height: 100vh;
  /* Full viewport height */
  min-height: 100%;
  /* Ensure the section has at least full viewport height */
  display: flex;
  /* Enables Flexbox */
  justify-content: center;
  /* Horizontally centers content */
  align-items: center;
  /* Vertically centers content */
  position: relative;
  /* Ensures proper positioning of content */
}
#home h1{
  color: white;
}
#backgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  object-fit: cover; /* Ensure the video fills the entire screen */
  z-index: 1; /* Keep the video behind the content */
}
/* Styles for the content */
.content {
  z-index: 2;
  color : rgb(139, 174, 172);
  border-style: solid;
  border-color: rgba(255, 204, 0, 0.75);
  border-width: medium;
  padding: 0% 1%;
}

#about {
  background-color: rgba(50, 50, 50, 0.5);
  background-position: center;
  margin: 5% 20% 5% 20%;
  height: 100vmin;
  display: flex;
  justify-content: center;
  /* Centers the columns horizontally */
  align-items: center;
  /* Centers the columns vertically (if they have different heights) */
  flex-wrap: wrap;
  /* Allows columns to wrap on smaller screens */
  text-align: justify;
}

  .aboutBorder {    
    color : rgb(139, 174, 172);
    border-style: solid;
    border-color: rgba(255, 204, 0, 0.75);
    padding: 1% 1% 1% 5%;
  }

  #about h1 {
    text-align: center;
    margin-top: 15vh;
    margin-bottom: 2.5%;
    font-size: 5vw;
  }
  #about p, #about ul{
    font-size: 2vh;
  }

#project {
  padding: 5% 1% 1% 1%;
  background-color: rgba(50, 50, 50, 0.25);
}
  #project h1 {
    margin-top: 2.5vh;
  }
  #project button {
    padding: 0;
  }
  #project img {
    border-radius: 2.5%;
    width: 100%;
  }

  .carousel-inner {
    padding: 1em;
  }
  .card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
  }
  .carousel-control-prev,
  .carousel-control-next {
    background-color: #22202b;
    opacity :7.5;
    width: 6vh;
    height: 6vh;
    border-radius: 10%;
    border-width: medium;
    border-color: #5a576b;
    border-style: solid;
    top: 50%;
    transform: translateY(-50%);
  }
  @media (min-width: 768px) {
    .carousel-item {
      margin-right: 0;
      flex: 0 0 33.333333%;
      display: block;
    }
    .carousel-inner {
      display: flex;
    }
  }
  .card .img-wrapper {
      max-width: 100%;
      height: 13em;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .card img {
      max-height: 100%;
  }
  @media (max-width: 767px) {
    .card .img-wrapper {
      height: 17em;
    }
  }

#decorator {
  background-image: url("https://static.wixstatic.com/media/11062b_952485dce28e4eac9e9f09d63fdc9ada~mv2.jpg/v1/fill/w_980,h_527,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/11062b_952485dce28e4eac9e9f09d63fdc9ada~mv2.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /* Ensures the image scales responsively */
  width: 100%;
  /* Full width of the container */
  height: 25vh;
  /* Full viewport height */
  min-height: 100%;
  /* Ensure the section has at least full viewport height */
  margin: 2.5% 0%;
}

#contact {
  background-color: rgba(50, 50, 50, 0.5);;
  background-position: center;
  margin: 2.5% 10%;
}

